<?xml version="1.0" encoding="UTF-8"?>
<Accounts>
    <config>
        <host>{{ selectprime_config_host }}</host>
        <user>bfcapp{{ client_id_lower }}</user>
        <password>WEB{{ client_id_upper }}PWD</password>
        <program>/QSYS.LIB/{{ selectprime_program_library }}.LIB</program>
    </config>
</Accounts>
